<div class="login-container">
    <!-- Partie gauche avec le formulaire -->
    <div class="left-side">
      <img src="/logo.png" alt="PharmaCare Logo" class="logo" />
      <p class="welcome-message">
        Welcome to PharmaCare, where your health and safety are our top priority.
      </p>
  
      <form class="login-form">
        <input type="text" placeholder="Phone or Email address" class="input-field" required />
        <input type="password" placeholder="Password" class="input-field" required />
        <button type="submit" class="login-button">Log In</button>
        <a href="#" class="forgot-password">Forgot password?</a>
      </form>
    </div>
  
    <!-- Partie droite avec l'image -->
    <div class="right-side">
      <img
        src="/picture1.png"
        alt="Pharma Image"
        class="large-image"
      />
    </div>
  </div>
  