
<!-- dashboard.component.html -->
<div class="dashboard-container">
    <div class="dashboard-header">
      <h1>Dashboard</h1>
    </div>
  
    <div class="dashboard-main">
      <!-- Carte des patients -->
      <div class="dashboard-card">
        <h3>Patients</h3>
        <p>558</p>
      </div>
  
      <!-- Carte des prescriptions -->
      <div class="dashboard-card">
        <h3>Prescriptions</h3>
        <p>$2164</p>
      </div>
  
      <!-- Carte des membres du personnel -->
      <div class="dashboard-card">
        <h3>Staff Members</h3>
        <p>112</p>
      </div>
    </div>
  
    <!-- Graphiques -->
    <div class="dashboard-main">
      <div class="dashboard-card">
        <canvas id="genderChart"></canvas> <!-- Graphique sur les visites par genre -->
      </div>
  
      <div class="dashboard-card">
        <canvas id="departmentChart"></canvas> <!-- Graphique sur les patients par département -->
      </div>
    </div>
  </div>
  